<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alexium Internet Filter Portal</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    {% if current_user.is_authenticated %}
    <meta http-equiv="refresh" content="60">
    {% endif %}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
	<li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.sessions') }}">Sessions</a>
	</li>
	{% if current_user.is_authenticated %}
        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
	{% endif %}
      </ul>
    </div>
  </nav>

      <div class="container has-text-centered">
        {% block content %}
        {% endblock %}
      </div>
    </section>
</body>

</html>
